In [1]:
products = {
    101: {"name": "Laptop", "category": "Electronics", "price": 1200, "stock": 50},
    102: {"name": "Shirt", "category": "Apparel", "price": 25, "stock": 200},
    103: {"name": "Coffee Maker", "category": "Home Appliances", "price": 80, "stock": 30}
}

# Increase stock of Shirt
products[102]["stock"] = products[102]["stock"] + 50
print(products)

# Add new product Smartphone
products[104] = {"name": "Smartphone", "category": "Electronics", "price": 800, "stock": 100}
print(products)

{101: {'name': 'Laptop', 'category': 'Electronics', 'price': 1200, 'stock': 50}, 102: {'name': 'Shirt', 'category': 'Apparel', 'price': 25, 'stock': 250}, 103: {'name': 'Coffee Maker', 'category': 'Home Appliances', 'price': 80, 'stock': 30}}
{101: {'name': 'Laptop', 'category': 'Electronics', 'price': 1200, 'stock': 50}, 102: {'name': 'Shirt', 'category': 'Apparel', 'price': 25, 'stock': 250}, 103: {'name': 'Coffee Maker', 'category': 'Home Appliances', 'price': 80, 'stock': 30}, 104: {'name': 'Smartphone', 'category': 'Electronics', 'price': 800, 'stock': 100}}

In [2]:
shopping_list = ["apple", "banana", "apple", "orange", "banana", "grape"]

# Convert to set and back to list
unique_items = list(set(shopping_list))
print(unique_items)

['banana', 'apple', 'orange', 'grape']

In [3]:
course_a = {"John", "Alice", "Bob", "David"}
course_b = {"Alice", "Eve", "Charlie", "David"}

# Difference
only_in_a = course_a.difference(course_b)
print("In Course A but not B:", only_in_a)

# Symmetric difference
unique_students = course_a.symmetric_difference(course_b)
print("Only in one course:", unique_students)

In Course A but not B: {'Bob', 'John'}
Only in one course: {'Bob', 'John', 'Charlie', 'Eve'}

In [4]:
title = input("Enter book title: ")
author = input("Enter author's name: ")
year = int(input("Enter year of publication: "))
price = float(input("Enter price: "))

book = (title, author, year, price)

print("Title:", book[0])
print("Author:", book[1])
print("Year of Publication:", book[2])
print("Price: $", book[3])

Enter book title:  zunaira
Enter author's name:  Bint e
Enter year of publication:  2024
Enter price:  1000

Title: zunaira
Author: Bint e
Year of Publication: 2024
Price: $ 1000.0

In [5]:
subjects = ["math", "science", "history", "english", "art"]

choice = input("Enter the subject you want: ")

if choice in subjects:
    print(choice, "is available.")
else:
    print(choice, "is not available.")

Enter the subject you want:  english

english is available.

In [6]:
num = int(input("Enter a number: "))

if num > 0:
    print("The number is Positive")
elif num < 0:
    print("The number is Negative")
else:
    print("The number is Zero")

Enter a number:  7

The number is Positive

In [7]:
username = input("Enter username: ")
password = input("Enter password: ")

if username == "admin" and password == "admin@123":
    print("Login Successful")
elif username != "admin" and password == "admin@123":
    print("Invalid Username")
elif username == "admin" and password != "admin@123":
    print("Invalid Password")
else:
    print("Invalid Username and Password")

Enter username:  admin@123
Enter password:  admin@12

Invalid Username and Password

In [8]:
student_details = {
    "Ali": {"age": 20, "grade": "A", "city": "Karachi"},
    "Sara": {"age": 21, "grade": "B", "city": "Lahore"},
    "Omar": {"age": 19, "grade": "A", "city": "Islamabad"},
    "Hina": {"age": 22, "grade": "C", "city": "Faisalabad"}
}

# Add new student
student_details["Zara"] = {"age": 20, "grade": "B", "city": "Multan"}

# Remove Omar
student_details.pop("Omar")

print(student_details)

{'Ali': {'age': 20, 'grade': 'A', 'city': 'Karachi'}, 'Sara': {'age': 21, 'grade': 'B', 'city': 'Lahore'}, 'Hina': {'age': 22, 'grade': 'C', 'city': 'Faisalabad'}, 'Zara': {'age': 20, 'grade': 'B', 'city': 'Multan'}}

In [9]:
age = int(input("Enter your age: "))
score = int(input("Enter your credit score: "))
income = int(input("Enter your annual income: "))

if age < 18:
    print("Not eligible due to age.")
elif score < 650:
    print("Not eligible due to low credit score.")
elif score >= 700 and income >= 25000:
    print("You are eligible for the loan!")
elif score >= 650 and income >= 30000:
    print("You are eligible for the loan!")
else:
    print("You are not eligible for the loan.")

Enter your age:  25
Enter your credit score:  1888
Enter your annual income:  800000

You are eligible for the loan!

In [10]:
ch = input("Enter a single letter: ")

if len(ch) == 1 and ch.isalpha():
    if ch.lower() in "aeiou":
        print(ch, "is a Vowel")
    else:
        print(ch, "is a Consonant")
else:
    print("Please enter a valid alphabet")

Enter a single letter:  z

z is a Consonant